<div class="container footer">
  <div class="row">
    <hr />
    <div class="col-sm-4 text-center">
      <ul class="nav flex-column">
        <li class="nav-link"><%= link_to "Home", root_path %></li>
        <li class="nav-link"><%= link_to "About", static_pages_about_path %></li>
        <li class="nav-link"><%= link_to "Events", events_path %></li>
        <li class="nav-link"><%= link_to "Media", media_path %></li>
        <li class="nav-link"><%= link_to "Blog", posts_path %></li>
      </ul>
    </div>
    <div class="col-sm-4 text-center">
      <h3>Sign up for our newsletter</h3>
      <div class="form-inline">
        <input type="text" name="nothingfornow" class="form-control">
        <button class="btn btn-default">Submit</button>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <h3>Follow Jetoj</h3>
      <div class="social-buttons">
        <a href="#" class="fa fa-facebook fa-3x" aria-hidden="true"></a>
        <a href="#" class="fa fa-youtube-play fa-3x" aria-hidden="true"></a>
        <a href="#" class="fa fa-snapchat-ghost fa-3x" aria-hidden="true"></a>
        <a href="#" class="fa fa-soundcloud fa-3x" aria-hidden="true"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ml-auto mr-auto">
      <h4>© 2017 Jetoj, All Rights Reserved</h4>
    </div>
  </div>
</div>
