<h1>Events#edit</h1>

<%= form_for @event do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
  <%= f.label :description %><br />
  <%= f.text_area :description %><br />
  <%= f.label :location %><br />
  <%= f.text_field :location %><br />
  <%= f.label :date_time %><br />
  <%= f.datetime_select :date_time, {prompt: true, ampm: true}%><br />
  <%= f.submit 'Update Event' %>
<% end %>

<%= form_for @event, method: :delete do |f| %>
  <%= f.submit 'Delete' %>
<% end %>
