<h1>Events#edit</h1>

<p><%= image_tag @event.image.url %></p>

<%= form_for @event do |f| %>
  <% Event.branches.each_key do |branch| %>
    <%= f.label branch %>
    <%= f.radio_button :branch, branch %><br />
  <% end %>

  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
  <%= f.label :image %><br />
  <%= f.file_field :image %><br />
  <%= f.label :description %><br />
  <%= f.text_area :description %><br />
  <%= f.label :location %><br />
  <%= f.text_field :location %><br />
  <%= f.label :date_time %><br />
  <%= f.datetime_select :date_time, {prompt: true, ampm: true}%><br />
  <%= f.submit 'Update Event' %>
<% end %>

<%= form_for @event, method: :delete do |f| %>
  <%= f.submit 'Delete' %>
<% end %>
