<%= render 'layouts/placeholder_nav' %>

<div class="col-md-6">
  <h4>Locations</h4>
  <%= link_to "All", events_path %>
  <%= link_to "Chicago", controller: "events", action: "index", branch: 1 %>
  <%= link_to "Minneapolis", controller: "events", action: "index", branch: 2 %>
</div>
<div class="col-md-6">
  <h4>Filter by Month</h4>
  <a href="#">January</a>
  <a href="#">February</a>
  <a href="#">March</a>
</div>

<div class="col-md-6">
  <% @events.each do |event| %>
    <%= link_to(event_path(event)) do %>
      <h2><%= event.name %></h2>
      <%= image_tag event.image.url, class: "img-fluid" %>
    <% end %>

    <p><%= event.date_time %></p>
    <p>
      <%= event.address['street_address'] %> <%= event.address['city'] %>, <%= event.address['state'] %> <%= event.address['zip'][0,5] %>
    </p>
    <p><%= event.description %></p>
    <hr />
  <% end %>
</div>
