<div class="row">
  <div class="ml-auto mr-auto">
    <%= image_tag "https://s3.us-east-2.amazonaws.com/jetoj/jetoj-events.png", alt: "jetoj events section", id: "jetoj-events", class: "img-fluid" %>
  </div>
</div>

<div class="row border-util">
  <div class="col-md-8 border-util">

    <div class="row">
      <div class="col-md-6 border-util">
        <h4>Locations</h4>
        <%= link_to "All", events_path %>
        <%= link_to "Chicago", controller: "events", action: "index", branch: 1 %>
        <%= link_to "Minneapolis", controller: "events", action: "index", branch: 2 %>
      </div>
      <div class="col-md-6 border-util">
        <h4>Filter by Month</h4>
        <a href="#">January</a>
        <a href="#">February</a>
        <a href="#">March</a>
      </div>
    </div>

    <% @events.each do |event| %>
      <%= link_to(event_path(event)) do %>
        <h2><%= event.name %></h2>
        <%= image_tag event.image, class: "img-fluid" %>
      <% end %>

      <p><%= event.date_time.strftime("%B %d, %Y") %></p>
      <p><%= event.description %></p>
      <hr />
    <% end %>

  </div>

  <div class="col-md-4 border-util">

    <div class="events-sidebar text-center border-util">
      <h4>Featured Event</h4>
    </div>

    <div class="featured-event border-util">
      <%= link_to(event_path(Event.find_by_id(3))) do %>
        <h4><%= Event.find_by_id(3).name %></h4>
        <%= image_tag Event.find_by_id(3).image.url, class: "img-fluid" %>
      <% end %>
      <p><%= Event.find_by_id(3).date_time.strftime("%B %d, %Y") %></p>
      <p><%= Event.find_by_id(3).description %></p>

    </div>

    <hr />

    <div class="events-sidebar text-center border-util">
      <h2>Maybe the Google Calendar Should Go Here</h2>
      <p>
        Embedded as a placeholder:
      </p>
      <div class="embed-responsive embed-responsive-16by9 border-util">
        <iframe src="https://calendar.google.com/calendar/embed?src=itlpmvjjsiflk64nj47t58l48s%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>

    <hr />

    <div class="events-sidebar text-center border-util">
      <h2>Actual Dynamic Calendar Goes Here</h2>
      <p>
        Lorem ipsum abcdefg lorem ipsum abcdefg lorem ipsum abcdefg lorem ipsum abcdefg lorem ipsum abcdefg lorem ipsum abcdefg lorem ipsum abcdefg
      </p>
      <p>Lorem ipsum abcdefg</p>
      <p>Lorem ipsum abcdefg</p>
    </div>

  </div>
</div>
