<div class="row border-util">
  <div class="col-md-6 mr-auto ml-auto text-center">
    <%= form_for @performer do |f| %>

    <label>Select a Branch</label>
    <div class="form-group form-control">
      <% Performer.branches.each_key do |branch| %>
        <div class="form-check">
          <%= f.radio_button :branch, branch, class: "form-check-input" %>
          <%= f.label branch, class: "form-check-label" %>
        </div>
      <% end %>
    </div>

      <div class="form-group">
        <%= f.label :headshot %>
        <%= f.file_field :headshot, class: "form-control form-control-file" %>
      </div>

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :bio %>
        <%= f.text_area :bio, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit 'Create', class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
