<h1>Media#edit</h1>

<% if !@medium.image.blank? %>
  <p><%= image_tag @medium.image.url %></p>
<% end %>

<%= form_for @medium do |f| %>
  <% Medium.medium_types.each_key do |type| %>
    <%= f.label type %>
    <%= f.radio_button :medium_type, type %><br />
  <% end %>
  
  <%= f.label :image %><br />
  <%= f.file_field :image %><br />
  <%= f.label :youtube_id %><br />
  <%= f.text_field :youtube_id %><br />
  <%= f.label :description %><br />
  <%= f.text_area :description %><br />
  <%= f.submit 'Update' %>
<% end %>

<%= form_for @medium, method: :delete do |f| %>
  <%= f.submit 'Delete' %>
<% end %>
