<h1>Media#index</h1>

<h1>Filter:</h1>
<h3><%= link_to "All", media_path %></h3>
<h3><%= link_to "Photo", controller: "media", action: "index", medium_type: 1 %></h3>
<h3><%= link_to "Video", controller: "media", action: "index", medium_type: 2 %></h3>
<h3><%= link_to "Audio", controller: "media", action: "index", medium_type: 3 %></h3>

<% @media.each do |medium| %>

  <% if !medium.image.blank? %>
    <p><%= image_tag medium.image.url %></p>
  <% end %>

  <% if !medium.youtube_id.empty? %>
    <iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/#{medium.youtube_id}" %>"></iframe>
  <% end %>

  <% if !medium.audio.blank? %>
    <%= audio_tag medium.audio.url, controls: true %>
  <% end %>

  <p>Type: <%= medium.medium_type %></p>
  <p><%= medium.description %></p>

<% end %>
