<%= render "layouts/placeholder_nav" %>

<div class="row border-util">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="row media-filters text-center border-util">
      <%= link_to "All", media_path %> |
      <%= link_to "Photo", controller: "media", action: "index", medium_type: 1 %> |
      <%= link_to "Video", controller: "media", action: "index", medium_type: 2 %> |
      <%= link_to "Audio", controller: "media", action: "index", medium_type: 3 %>
    </div>
    <br />

    <div class="row media-section border-util">
      <% @media.each do |medium| %>
        <% case medium.medium_type %>
        <% when "photo" %>
          <%= image_tag medium.image.url, class: "img-responsive" %>
        <% when "video" %>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/#{medium.youtube_id}" %>" class="embed-responsive-item" allowfullscreen></iframe>
          </div>
        <% when "audio" %>
          <%= audio_tag medium.audio.url, controls: true %>
        <% end %>
        <br />
        <p><%= medium.description %></p>
        <hr />
        <br />
      <% end %>
    </div>
  </div>
</div>
