<h1>Media#new</h1>

<%= form_for @medium do |f| %>
  <% Medium.medium_types.each_key do |type| %>
    <%= f.label type %>
    <%= f.radio_button :medium_type, type %><br />
  <% end %>

  <%= f.label :image %><br />
  <%= f.file_field :image %><br />
  <%= f.label :audio %><br />
  <%= f.file_field :audio %><br />
  <%= f.label :youtube_id %><br />
  <%= f.text_field :youtube_id %><br />
  <%= f.label :description %><br />
  <%= f.text_area :description %><br />
  <%= f.submit 'Create' %>
<% end %>
