<div class="row border-util">
  <div class="col-md-6 mr-auto ml-auto text-center">
    <%= form_for @medium do |f| %>

      <%= f.hidden_field :medium_type, value: "photo" %>

      <ul class="nav nav-tabs" id="formTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-expanded="true">Photo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="audio-tab" data-toggle="tab" href="#audio" role="tab" aria-controls="audio">Audio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="video-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video">Video</a>
        </li>
      </ul>
      <div class="tab-content" id="formTabContent">
        <div class="tab-pane fade show active" id="photo" role="tabpanel" aria-labelledby="photo-tab">
          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image, class: "form-control-file mr-auto ml-auto" %>
          </div>
        </div>
        <div class="tab-pane fade" id="audio" role="tabpanel" aria-labelledby="audio-tab">
          <div class="form-group">
            <%= f.label :audio %>
            <%= f.file_field :audio, class: "form-control-file mr-auto ml-auto" %>
          </div>
        </div>
        <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
          <div class="form-group">
            <%= f.label :youtube_id, "YouTube ID" %>
            <%= f.text_field :youtube_id, class: "form-control" %>
            <p class="help-block">(Copy and paste the ID following "?v=" in the full URL)</p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit 'Create', class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
