<%= image_tag "jetoj-blog.jpg", alt: "jetoj blog section", id: "jetoj-blog", class: "col-xs-12" %>
<%= link_to "New Post", new_post_path, class: "col-xs-4" %>
<%= paginate @posts %><br />
<% @posts.each do |post| %>
  <div class="post-head col-md-10">
    <p><%= image_tag post.image.url(:medium), class: "post-thumbnail" %></p>
    <h2 class="post-title"><%= post.title %></h2>
  </div>
  <div class="post-tail col-md-10">
    <p class="post-body"><%= post.body %></p>
    <%= link_to "Continue Reading...", post_path(post), class: "post-link" %>
  </div>
<% end %>
