<div class="row">
  <div class="ml-auto mr-auto">
    <%= image_tag "jetoj-blog.jpg", alt: "jetoj blog section", id: "jetoj-blog" %>
  </div>
</div>

<div class="row">
  <%= render "layouts/placeholder_nav" %>
</div>

<h3><%= link_to "New Post", new_post_path %></h3>

<br />
<br />

<div class="row posts-section">
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-md-8">
        <%= image_tag post.image.url(:medium), class: "img-fluid" %>
      </div>

      <div class="col-md-4">
        <h4><%= link_to post.title, post_path(post) %></h4>
      </div>

      <div class="col-md-12">
        <hr />
        <p>Posted by <%= post.user.name %> | <%= time_ago_in_words post.created_at %> ago</p>
        <hr />
      </div>

      <div class="col-md-12">
        <p><%= post.body %></p>
        <%= link_to "Continue Reading...", post_path(post) %>
      </div>
    </div>
    <br />
    <hr />
    <br />
  <% end %>
</div>

<br />
<br />
<br />

<div class="row">
  <div class="ml-auto mr-auto">
    <%= paginate @posts %>
  </div>
</div>

<br />
<br />
<br />
