<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= image_tag "jetoj-blog.jpg", alt: "jetoj blog section", id: "jetoj-blog" %>
    </div>
  </div>

  <%= render "layouts/placeholder_nav" %>

  <div class="row border-util">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="col-xs-12">
        <h2><%= @post.title %></h2>
      </div>

      <div class="col-xs-12">
        <%= image_tag @post.image.url(:medium), class: "img-responsive" %>
      </div>

      <div class="col-xs-12">
        <hr />
        <p>Posted by <%= @post.user.name %> | <%= time_ago_in_words @post.created_at %> ago</p>
        <hr />
      </div>

      <div class="col-xs-12">
        <p><%= @post.body %></p>
      </div>

      <div class="text-center">
        <%= link_to "Back", posts_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
