<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= image_tag "https://s3.us-east-2.amazonaws.com/jetoj/blog.png", alt: "jetoj blog section", id: "jetoj-blog", class: "img-fluid" %>
    </div>
  </div>
</div>

<div class="row border-util">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="col-xs-12">
      <h2><%= @post.title %></h2>
    </div>

    <div class="col-xs-12">
      <%= image_tag @post.image.url(:medium), class: "img-fluid" %>
    </div>

    <% if @post.youtube_id %>
      <div class="col-xs-12">
        <div class="embed-responsive embed-responsive-16by9 border-util">
          <%= youtube_frame("http://www.youtube.com/embed/#{@post.youtube_id}") %>
        </div>
      </div>
    <% end %>

    <div class="col-xs-12 text-center">
      <hr />
      <p>Posted by <%= @post.user.name %> | <%= time_ago_in_words @post.created_at %> ago</p>
      <hr />
    </div>

    <div class="col-xs-12">
      <p><%= @post.body %></p>
    </div>

    <div class="text-center">
      <p><%= link_to "Back", posts_path, class: "btn btn-default" %></p>
      <% if user_signed_in? %>
        <p><%= link_to "Edit Post", edit_post_path(@post) %></p>
      <% end %>
    </div>
  </div>
</div>
