<div class="container-fluid">
  <div class="row">
      <div class="col-md-4">
        <div class="row header-row col-xs-12">
          <%= image_tag("jetoj-logo.jpg", :alt => "Jetoj logo", id: "jetoj-logo") %>
        </div>
      </div>
      <div class="col-md-4 col-md-4-pull">
        <div class="row header-row col-xs-12">
          <i id="mission" class="text-justify">Jetoj is a music series that makes classical music accessible to all audiences, regardless of opportunity or privilege.</i>
        </div>
      </div>
    <div class="col-md-4">
      <div class="row header-row col-xs-12">
        <%= link_to "About", static_pages_about_path %>
        <%= link_to "Events", events_path %>
        <%= link_to "Media", media_path %>
        <%= link_to "Blog", posts_path %>
      </div>
    </div>

  </div>
</div>
