<nav class="navbar-container container">
  <div class="container">
    <%= image_tag("jetoj-logo.jpg", :alt => "Jetoj logo", id: "jetoj-logo", class: "container col-xs-8 col-xs-offset-1") %>
  </div>
  <!-- <div id="mobile-nav-icon-outer" class="col-xs-2 col-xs-offset-5">
    <div id="mobile-nav-icon-inner"></div>
    <div id="mobile-nav-icon-inner"></div>
    <div id="mobile-nav-icon-inner"></div>
  </div> -->
  <div class="container">
    <div class="menu col-xs-9">
      <%= link_to "Home", static_pages_home_path, class: "navlink" %>
      <%= link_to "About", static_pages_about_path, class: "navlink" %>
      <%= link_to "Blog", posts_path, class: "navlink" %>
      <%= link_to "Events", events_path, class: "navlink" %>
      <%= link_to "Media", media_path, class: "navlink" %>
      <%= link_to "Performers", performers_path, class: "navlink" %>
      <%= link_to "Sign in", new_user_session_path, method: "get", class: "navlink" %>
    </div>
    <%= image_tag("jetoj-right.jpg", class: "col-xs-3") %>
  </div>
</nav>
