<nav class="navbar navbar-default site-banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Jetoj", root_path, id: "logo", class: "jetoj-word" %>
      <%= link_to ""
    </div>
    <div class="navbar-nav navbar-right"
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Media", media_path %></li>
      </ul>
    </div>
  </div>
</nav>
