
  <nav class="navbar">
    <%= image_tag("jetoj-logo.jpg", :alt => "Jetoj logo", :id => "jetoj-logo", :class => "col-xs-12 col-sm-4 col-md-4 col-md-offset-2 img-fluid navbar-brand") %>
    <ul class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 navbar-nav nav menu-landing">
      <li class="nav-link"><%= link_to "About", static_pages_about_path %></li>
      <li class="nav-link"><%= link_to "Events", events_path %></li>
      <li class="nav-link"><%= link_to "Media", media_path %></li>
      <li class="nav-link"><%= link_to "Blog", posts_path %></li>

      <% if user_signed_in? %>
        <% if current_user.admin %>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </button>
          <div class="dropdown-menu">
            <%= link_to "Admin", edit_user_registration_path, class: "navlink userlink dropdown-item" %></li>
          </div>
        </div>
        <% else %>
          <li class="nav-link"><%= link_to current_user.email, edit_user_registration_path, class: "navlink userlink" %></li>
        <% end %>
        <li class="nav-link"><%= link_to "Logout", destroy_user_session_path, class: "navlink userlink", method: :delete %></li>
      <% end %>
      </ul>
    </nav>
