<nav class="navbar-container container">
  <%= image_tag("jetoj-logo.jpg", :alt => "Jetoj logo", id: "jetoj-logo", class: "col-xs-9") %>
  <br />
  <div id="mobile-nav-icon-outer" class="col-xs-2 col-xs-offset-5">
    <div id="mobile-nav-icon-inner"></div>
    <div id="mobile-nav-icon-inner"></div>
    <div id="mobile-nav-icon-inner"></div>
  </div>
  <div class="menu col-md-6 col-xs-4">
    <%= link_to "Home", static_pages_home_path, class: "navlink" %>
    <%= link_to "About", static_pages_about_path, class: "navlink" %>
    <%= link_to "Posts", posts_path, class: "navlink" %>
    <%= link_to "Events", events_path, class: "navlink" %>
    <%= link_to "Media", media_path, class: "navlink" %>
    <%= link_to "Performers", performers_path, class: "navlink" %>
    <%= link_to "Sign in", new_user_session_path, method: "get", class: "navlink" %>
  </div>
  <img id="jetoj-right" class="col-xs-1 col-xs-offset-11" />
</nav>
