<nav class="navbar navbar-default site-banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Jetoj", root_path, id: "logo", class: "jetoj-word" %>
      <%= link_to "Sign in", new_user_session_path, method: "get" %>
      <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
      <%= link_to "Register", new_user_registration_path %>
      <p>Admin Actions:</p>
      <%= link_to "Create User", admins_new_user_path %>
    </div>
    <div class="navbar-nav navbar-right"
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", static_pages_home_path %></li>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Media", media_path %></li>
        <li><%= link_to "Performers", performers_path %></li>
      </ul>
    </div>
  </div>
</nav>
