<div class="menu col-xs-12 col-s-8">
  <%= image_tag("jetoj-horizontal-rule.png", class: "col-xs-12 hr") %>
  <%= link_to "About", static_pages_about_path, class: "navlink" %>
  <%= link_to "Events", events_path, class: "navlink" %>
  <%= link_to "Media", media_path, class: "navlink" %>
  <%= link_to "Blog", posts_path, class: "navlink" %>
  <%= image_tag("jetoj-horizontal-rule.png", class: "col-xs-12 hr") %>
</div>
