<!DOCTYPE html>
<html>
  <head>
    <title>Jetoj</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-fixed-top nav-inverse">
      <div class="container">
        <%= link_to "Jetoj", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Posts", posts_path %></li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Media", media_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
